In [2]:
from langchain.llms import GooglePalm
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma
import chromadb

# Initialize the GooglePalm LLM with the API key and temperature setting
api_key = "AIzaSyDQLI-IA91lH777GLPHQVEQuE0iMf7ex30"
llm = GooglePalm(google_api_key=api_key, temperature=0.2)

# Database credentials and connection
db_user = 'root'
db_pass = 'fuk1234'
db_host = 'localhost'
db_name = 'cars_shop'
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_pass}@{db_host}/{db_name}", sample_rows_in_table_info=3)

# Create a SQLDatabaseChain instance with the LLM and database
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

# Define the embedding model and create the vector store
embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

In [3]:
q1=db_chain.run('name of the cars which hauve color red')
# SELECT carname FROM carlist WHERE color = 'Red'
# Toyota Corolla, Porsche 911, Ferrari 488, Tesla Model S, Dodge Viper, Ferrari Portofino, Ford Mustang Shelby GT500, Toyota Supra

> Entering new SQLDatabaseChain chain...
name of the cars which hauve color red
SQLQuery:SELECT `ModelName` FROM carinventory WHERE `Color` = 'Red'
SQLResult: [('Corolla',), ('Elantra',)]
Answer:Corolla, Elantra
> Finished chain.

In [4]:
q2=db_chain.run("How many cars do we have left for BMW in silver color?")
q2=db_chain.run("How many cars do we have left for BMW in silver color?")

> Entering new SQLDatabaseChain chain...
How many cars do we have left for BMW in silver color?
SQLQuery:SELECT StockQuantity FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'
SQLResult: [(2,)]
Answer:2
> Finished chain.


> Entering new SQLDatabaseChain chain...
How many cars do we have left for BMW in silver color?
SQLQuery:SELECT StockQuantity FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'
SQLResult: [(2,)]
Answer:2
> Finished chain.

In [5]:
q3=db_chain.run("How much is the total price of the inventory for all red color cars?")

> Entering new SQLDatabaseChain chain...
How much is the total price of the inventory for all red color cars?
SQLQuery:SELECT SUM(`Price`) FROM carinventory WHERE `Color` = 'Red'
SQLResult: [(Decimal('38000.00'),)]
Answer:38000.00
> Finished chain.

In [ ]:
q4=db_chain.run("If we have to sell all the BMW cars today with discounts applied. How much revenue  our store will generate (post discounts)?")
'''
SELECT sum(a.total_amount * ((100-COALESCE(cardiscounts.discount,0))/100)) as total_revenue from
(select sum(price*StockQuantity) as total_amount, car_id from CarInventory where brand = 'BMW'
group by car_id) a left join cardiscounts on a.car_id = cardiscounts.car_id
'''
# '140000.00000000'

In [7]:
q5=db_chain.run("SELECT SUM(price *StockQuantity ) FROM carinventory WHERE brand = 'Toyota' ")
#  "SELECT SUM(price *StockQuantity ) FROM carinventory WHERE brand = 'BMW',
# If we have to sell all the BMW cars today. How much revenue our store will generate without discount?

> Entering new SQLDatabaseChain chain...
SELECT SUM(price *StockQuantity ) FROM carinventory WHERE brand = 'Toyota'
SQLQuery:SELECT SUM(price *StockQuantity ) FROM carinventory WHERE brand = 'Toyota'
SQLResult: [(Decimal('270000.00'),)]
Answer:270000.00
> Finished chain.

In [ ]:
q6=db_chain.run("How many silver BMW cars I have?")

> Entering new SQLDatabaseChain chain...
How many silver BMW cars I have?
SQLQuery:SELECT count(*) FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'
SQLResult: [(1,)]
Answer:1
> Finished chain.

In [17]:
q7=db_chain("SELECT sum(StockQuantity) FROM carinventory")

> Entering new SQLDatabaseChain chain...
SELECT sum(StockQuantity) FROM carinventory
SQLQuery:SELECT sum(StockQuantity) FROM carinventory
SQLResult: [(Decimal('107'),)]
Answer:107
> Finished chain.

In [8]:
# q1=db_chain.run("SELECT `ModelName` FROM carinventory WHERE `Color` = 'Red'")
q2=db_chain.run("SELECT StockQuantity FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'")
q3=db_chain.run("SELECT SUM(`Price`) FROM carinventory WHERE `Color` = 'Red'")
q4_sql='''
SELECT sum(a.total_amount * ((100-COALESCE(cardiscounts.discount,0))/100)) as total_revenue from
(select sum(price*StockQuantity) as total_amount, car_id from CarInventory where brand = 'BMW'
group by car_id) a left join cardiscounts on a.car_id = cardiscounts.car_id
'''
q4=db_chain.run(q4_sql)
q5=db_chain.run("SELECT SUM(price *StockQuantity ) FROM carinventory WHERE brand = 'Toyota'")
q6=db_chain.run("SELECT count(*) FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'")

few_shots = [
    {'Question' : "How many cars do we have left for BMW in silver color?",
     'SQLQuery' : "SELECT StockQuantity FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'",
     'SQLResult': "Result of the SQL query",
     'Query_Ans':"SELECT StockQuantity FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'",
     'Answer' :q2},
    {'Question' : "How much is the total price of the inventory for all red color cars?",
     'SQLQuery' : "SELECT SUM(`Price`) FROM carinventory WHERE `Color` = 'Red'",
     'SQLResult': "Result of the SQL query",
     'Query_Ans' : "SELECT SUM(`Price`) FROM carinventory WHERE `Color` = 'Red'",
     'Answer' :q3},
    {'Question' : "If we have to sell all the BMW cars today with discounts applied. How much revenue  our store will generate (post discounts)?",
     'SQLQuery' : '''
SELECT sum(a.total_amount * ((100-COALESCE(cardiscounts.discount,0))/100)) as total_revenue from
(select sum(price*StockQuantity) as total_amount, car_id from CarInventory where brand = 'BMW'
group by car_id) a left join cardiscounts on a.car_id = cardiscounts.car_id
''',
     'SQLResult': "Result of the SQL query",
     'Query_Ans':'''
SELECT sum(a.total_amount * ((100-COALESCE(cardiscounts.discount,0))/100)) as total_revenue from
(select sum(price*StockQuantity) as total_amount, car_id from CarInventory where brand = 'BMW'
group by car_id) a left join cardiscounts on a.car_id = cardiscounts.car_id
''',
     'Answer' :q4},
    {'Question' : "If we have to sell all the BMW cars today. How much revenue our store will generate without discount?",
     'SQLQuery' : "SELECT SUM(price *StockQuantity ) FROM carinventory WHERE brand = 'Toyota'",
     'SQLResult': "Result of the SQL query",
     'Query_Ans':"SELECT SUM(price *StockQuantity ) FROM carinventory WHERE brand = 'Toyota'",
     'Answer' :q5},
    {'Question' : "How many silver BMW cars I have?",
     'SQLQuery' : "SELECT count(*) FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'",
     'SQLResult': "Result of the SQL query",
     'Query_Ans': "SELECT count(*) FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'"
     'Answer' :q6}
]

> Entering new SQLDatabaseChain chain...
SELECT StockQuantity FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'
SQLQuery:SELECT StockQuantity FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'
SQLResult: [(2,)]
Answer:2
> Finished chain.


> Entering new SQLDatabaseChain chain...
SELECT SUM(`Price`) FROM carinventory WHERE `Color` = 'Red'
SQLQuery:SELECT SUM(`Price`) FROM carinventory WHERE `Color` = 'Red'
SQLResult: [(Decimal('38000.00'),)]
Answer:38000.00
> Finished chain.


> Entering new SQLDatabaseChain chain...

SELECT sum(a.total_amount * ((100-COALESCE(cardiscounts.discount,0))/100)) as total_revenue from
(select sum(price*StockQuantity) as total_amount, car_id from CarInventory where brand = 'BMW'
group by car_id) a left join cardiscounts on a.car_id = cardiscounts.car_id

SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(cardiscounts.discount,0))/100)) as total_revenue from
(select sum(price*StockQuantity) as total_amount, car_id from CarInventory where brand = 'BMW'
group by car_id) a left join cardiscounts on a.car_id = cardiscounts.car_id
SQLResult: [(Decimal('140000.00000000'),)]
Answer:140000.00
> Finished chain.


> Entering new SQLDatabaseChain chain...
SELECT SUM(price *StockQuantity ) FROM carinventory WHERE brand = 'Toyota'
SQLQuery:SELECT SUM(price *StockQuantity ) FROM carinventory WHERE brand = 'Toyota'
SQLResult: [(Decimal('270000.00'),)]
Answer:270000.00
> Finished chain.


> Entering new SQLDatabaseChain chain...
SELECT count(*) FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'
SQLQuery:SELECT count(*) FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'
SQLResult: [(1,)]
Answer:1
> Finished chain.

In [9]:
from langchain.vectorstores import FAISS
texts = ["".join(example.values()) for example in few_shots]
vector_store = FAISS.from_texts(texts=texts, embedding=embeddings, metadatas=few_shots)

In [10]:
es=SemanticSimilarityExampleSelector(
    vectorstore=vector_store,
    k=2
)
es.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

[{'Question': 'How many cars do we have left for BMW in silver color?',
  'SQLQuery': "SELECT StockQuantity FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'",
  'SQLResult': 'Result of the SQL query',
  'Query_Ans': "SELECT StockQuantity FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'",
  'Answer': '2'},
 {'Question': 'How many silver BMW cars I have?',
  'SQLQuery': "SELECT count(*) FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'",
  'SQLResult': 'Result of the SQL query',
  'Query_Ans': "SELECT count(*) FROM carinventory WHERE Brand = 'BMW' AND Color = 'Silver'",
  'Answer': '1'}]

In [11]:
### my sql based instruction prompt
mysql_prompt = """You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: Query to run with no pre-amble
SQLResult: Result of the SQLQuery
Query_Ans: Query to run with no pre-amble
Answer: Final answer here

No pre-amble.
"""

In [12]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [13]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Query_Ans","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nQuery_Ans:{Query_Ans}\nAnswer: {Answer}",
)

In [15]:

print(mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: Query to run with no pre-amble
SQLResult: Result of the SQLQuery
Query_Ans: Query to run with no pre-amble
Answer: Final answer here

No pre-amble.

In [16]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=es,
    example_prompt=example_prompt,
    prefix=mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)